<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Login</title>
    <link rel="stylesheet" href="css/style.css">    
</head>
<body>
    <header>
        <div class="header">
            <div class="buttons">
                <div class="button button1">Home</div>
                <div class="button button2">Contacts</div>
            </div>
        </div>
        <div class="background"> 
            <div class="background--items">
                <div class="items">
                    <div class="sucess">SUCESS</div>
                </div>
            </div>
        </div>
    </header>
    <script src="js/script.js"></script>
</body>
</html>